<div>
  <p class="title">Respondemos a sua pergunta! \O/</p>
  <p class="message">( Conte com a gente sempre que precisar! )</p>
</div>

<!-- Pergunta -->
<p class="info">Sua Pergunta:</p>
<div id="pergunta">
  <div class="area">
    {{ question }}
  </div>
</div>

<!-- Resposta -->
<p class="info">Nossa Resposta:</p>
<div id="resposta">
  <div class="area">
    {{ answer }}
  </div>
</div>

<!-- Agradecimentos -->
<footer>Abraços, Equipe GymPoint</footer>